@font-face {
  font-family: 'montserratthin';
  src: url('fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

:root{
  font-family: 'montserratthin', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
}

body {
  background-color: white;
}
h1 {
  font-size: 50px;
  text-align: center;
}
label {
  display: block;
}

.estante {
  display: flex;
  width: 700px;
  background-color: #3f1111;
  margin: 0 auto;
  border: solid 5px #3f1111;
  border-radius: 2px;
  flex-wrap: wrap;
}

.estante button {
  display: none;
}

.livros {
  display: inline-flex;
  flex-direction: column;
  margin: 5px 2px;
  background-color: lightgray;
  flex-basis: 22%;
  height: 220px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  border-width: 8px;
  border-style: solid;
  font-weight: 700;

}


