@font-face {
  font-family: 'montserratthin';
  src: url('fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}


:root{
  font-family: 'montserratthin', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 50px;
  color: #3f1111;
  text-align: center;
}

label {
  display: block;
}

.estante {
  display: block;
  height: 740px;
  width: 700px;
  background-color: #533b3b ;
  margin: 0 auto;
  border: solid 5px #3f1111;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.estante button {
  display: none;
}

.livros {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 5px 3px;
  height: 220px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  border-width: 8px;
  border-style: solid;
  font-weight: 700;
  flex-basis: 3.5%;
}

form {
  display: none;
  margin: 0 30px;
  width: 300px;
}

.container-lado {
  flex: 0 0 25%;
  background-color: #e1e9e9;
  box-shadow: 1px 1px 10px black;
  background-image: url(svgs/xadrez.svg);
  background-size: 100px;
  }



.container-centro {
  flex: 0 0 50%;
  background-color: #f5f8f8;
  box-shadow: inset 1px 0px 10px black;
  background-image: url(svgs/losango.svg);
  background-size: 15px;
}

p {
  font-weight: 700;
}

input {
  background-color: #fff0;
  border-radius: 5px;
  border-color: #3f1111;
  margin: 5px 0;
}

input[type="text"] {  
  width: 350px;
}

li {
  list-style: none;
}

span {
  color:  #533b3b ;
  font-weight: 700;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  color: #533b3b;
  font-weight: 700;
}

ul {
  padding: 0;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #533b3b;
  color: #e1e9e9;
  margin-top: 20px;
}

#mostrar {
  display: block;
  width: 100px;
  margin: 50px auto;
}

#novo-livro {
  width: 70px;
}

.livros>p {
  margin: 12px;
}

.livros>p:nth-of-type(1){
  writing-mode: vertical-rl;
}

.livros>p:nth-last-of-type(-n + 3) {
  display: none;
}

.info.info.info {
  display: block;
  writing-mode: horizontal-tb;
}

.aumentar {
  flex-basis: 22%;
  max-width: 200px;
  transition: all 50ms ease-out;
}  


.diminuir {
  flex-basis: 3.5%;
  transition: all 130ms ease-in;
}

.row {
  display: flex;
}

.botao {
  display: inline-block;
  position: absolute;
  height: 25px;
  bottom: 0;
  right: 5px;
}

.esconder {
  display: none;
}

a:hover {
  cursor: pointer;
}


.botao-lido {
  display: inline-block;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 5px;
}

table {
  border-spacing: 40px;
}

table p {
  margin: 0;
}